<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h3> Olá, <%= @nomeusuario %>! Seja bem-vindo(a) ao</h3>
                <h1>
                    <%= @mainDesc %>    
                </h1>
                <small>
                    <%= @mainTitle %>
                </small>
            </div>
        </div>
    </div>
</div>