<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Clientes</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'home', :action => 'index' %>">Home</a>
      </li>
      <li>
        <a>Inclusão de Cliente</a>
      </li>
      <li class="active">
        <strong>Cliente</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>