<div class="footer">
    <div class="pull-right">
        <strong>Todos os Direitos Reservados</strong> AR Inovações &copy; <%= Date.today.year %>
    </div>
    <div>
       <strong> Sistema de Informações Internas do INDES - SIIIN </strong>
    </div>
</div>
