<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" src="assets/stylesheets/base/navigation.scss" />

<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <span>
            <%= link_to "/home/index" do %>
              <img alt="image" class="img-circle" src="<%= image_url 'pce-peq.png' %>"/>
            <% end %>
          </span>
        </div>
        <div class="logo-element">
          <%= "SIIIN" %>
        </div>
          <li>
            <a href="/customers"><i class="fa fa-file-pdf-o"></i> <span style="color:white" class="nav-label">Inclusão de Cliente</span></span></a>
          </li>         
          <li>
            <a href="/activities"><i class="fa fa-building-o"></i> <span style="color:white" class="nav-label">Registrar Atividade</span></a>            
          </li>
          <li>
            <a href="/"><i class="fa fa-file-pdf-o"></i> <span style="color:white" class="nav-label">Baixar Relatório</span></span></a>
          </li>
    </div>
  </ul>
</nav>