<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" src="assets/stylesheets/base/navigation.scss" />

<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <span>
            <%= link_to "/home/index" do %>
              <img alt="image" class="img-circle" src="<%= image_url 'pce-peq.png' %>"/>
            <% end %>
          </span>
        </div>
        <div class="logo-element">
          <%= "PCE" %>
        </div>
      </li>           
        <li>
          <a href="/"><i class="fa fa-building-o"></i> <span class="nav-label">Cadastro de Instrumento</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li><a href="/instrument_registrations"><i class="fa fa-plus-circle"></i> Novo Instrumento</a></li>               
            </ul>
        </li>
        <li>
          <a href="/"><i class="fa fa-file-pdf-o"></i> <span class="nav-label">Instrumento</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li><a href="/document_registers"><i class="fa fa-plus-circle"></i> Novo Documento</a></li>               
            </ul>
        </li>
    </div>
  </ul>
</nav>